@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #f85604;
    --light-primary: #f856041a;
    --text: #4a5565;
    --bg: #f9f9f9;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

.container {
    width: 90%;
    margin: auto;
}